extends ../../../../layout/public/manage.layout.pug

block content
  article.blog-post.px-3.py-5.p-md-5
    .container.single-col-max-width
      header.blog-post-header
        h2.title.mb-2 Why Every Developer Should Have A Blog
        .meta.mb-3
          span.date Published 2 days ago
          span.time 5 min read
          span.comment
            a.text-link(href='#') 4 comments
      .blog-post-body
        figure.blog-banner
          a(href='https://made4dev.com')
            img.img-fluid(src='/assets/images/blog/blog-post-banner.jpg' alt='image')
          figcaption.mt-2.text-center.image-caption
            | Image Credit: 
            a.theme-link(href='https://made4dev.com?ref=devblog' target='_blank') made4dev.com (Premium Programming T-shirts)
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
