extends ../../../layout/private/table.layout.pug

block content
	.content-wrapper
		// Content Header (Page header)
		section.content-header
			.container-fluid
				.row.mb-2
					.col-sm-6
						h1 User Management
					.col-sm-6
						ol.breadcrumb.float-sm-right
							li.breadcrumb-item
								a(href='#') Home
							li.breadcrumb-item.active User
			// /.container-fluid
		// Main content
		section.content
			.container-fluid
				.row
					.col-12
						.card
							.card-header
								h3.card-title User in system
							.card-action
								.select-action-form
									.form-check
										input#checkboxAll.form-check-input(type='checkbox' value='')
										label.form-check-label(for='checkboxAll') Select all
									select#selectAction.form-control.form-control-sm.checkbox-select-all-options(name='action')
										option(value='') -- Select action --
										option(value='delete') Delete
									button.btn.btn-primary.btn-sm.check-all-submit-btn(disabled='true') Submit
								.input-group
									input#searchQuery.form-control.form-control-sm(type='search' placeholder='Search username')
							// /.card-header
							.card-body
								table.table.table-bordered.table-hover
									thead
										tr
											th #
											th.column-id
												| ID
												span#sortByIdDesc.oi.oi-sort-descending
												span#sortByIdAsc.oi.oi-sort-ascending
											th.column-username
												| Username
												span#sortByUsernameDesc.oi.oi-sort-descending
												span#sortByUsernameAsc.oi.oi-sort-ascending
											th Fullname
											th Status
											th Roles
											th Action
									tbody#user-table
							// /.card-body
				.row
					.col-sm-12.col-md-7
						#paginationDiv
							ul#paginationUl.pagination
					// /.col
				// /.row
			// /.container-fluid
		// /.content
		#delete-user-modal.modal(tabindex='-1' role='dialog')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						h5.modal-title Confirm Delete Action
						button.close(type='button' data-dismiss='modal' aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						p Are you sure you want to delete this user?
					.modal-footer
						button#btn-delete-user.btn.btn-danger(type='button') Yeah, do it.
						button.btn.btn-secondary(type='button' data-dismiss='modal') No, thanks.

block scripts
	script(src='/dist/js/user/user.js')