extends ../layout/public/manage.layout.pug

block content
  section.blog-list.px-3.py-5.p-md-5
    .container.single-col-max-width
      .item.mb-5
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-1.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') Top 3 JavaScript Frameworks
            .meta.mb-1
              span.date Published 2 days ago
              span.time 5 min read
              span.comment
                a.text-link(href='#') 8 comments
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      .item.mb-5
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-2.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') About Remote Working
            .meta.mb-1
              span.date Published 3 months ago
              span.time 3 min read
              span.comment
                a.text-link(href='#') 26 comments
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      .item.mb-5
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-3.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') A Guide to Becoming a Full-Stack Developer
            .meta.mb-1
              span.date Published 2 months ago
              span.time 15 min read
              span.comment
                a.text-link(href='#') 3 comments
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      .item.mb-5
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-4.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') High Performance JavaScript
            .meta.mb-1
              span.date Published 1 month ago
              span.time 8 min read
              span.comment
                a.text-link(href='#') 12 comments
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      .item.mb-5
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-5.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') Learn React in 24 Hours
            .meta.mb-1
              span.date Published 2 months ago
              span.time 10 min read
              span.comment
                a.text-link(href='#') 23 comments
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      .item
        .row.g-3.g-xl-0
          .col-2.col-xl-3
            img.img-fluid.post-thumb(src='assets/images/blog/blog-post-thumb-6.jpg' alt='image')
          .col
            h3.title.mb-1
              a.text-link(href='blog-post.html') How to Build Desktop Apps with HTML, CSS and JavaScript
            .meta.mb-1
              span.date Published 3 months ago
              span.time 2 min read
              span.comment
                a.text-link(href='#') 1 comment
            .intro
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.text-link(href='blog-post.html') Read more &rarr;
          // //col
        // //row
      // //item
      nav.blog-nav.nav.nav-justified.my-5
        a.nav-link-prev.nav-item.nav-link.d-none.rounded-left(href='#')
          | Previous
          i.arrow-prev.fas.fa-long-arrow-alt-left
        a.nav-link-next.nav-item.nav-link.rounded(href='#')
          | Next
          i.arrow-next.fas.fa-long-arrow-alt-right
