doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title User DataTables
  // Google Font: Source Sans Pro
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
  // Font Awesome
  link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
  // Iconic icons
  link(rel='stylesheet' href='/plugins/open-iconic-master/font/css/open-iconic-bootstrap.css')
  // Theme style
  link(rel='stylesheet' href='/dist/css/adminlte.min.css')
  // My stylesheet
  link(rel='stylesheet' href='/dist/css/mystyle.css')
.wrapper  
  // Navbar
  include ../../components/navbar.pug
  // /.navbar
  
  // Main Sidebar Container
  include ../../components/sidebar.pug
      
  block content

  // Footer
  include ../../components/footer.pug
  
  // Control Sidebar
  aside.control-sidebar.control-sidebar-dark
    // Control sidebar content goes here
  // /.control-sidebar
// ./wrapper
// jQuery
script(src='/plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
// AdminLTE App
script(src='/dist/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='/dist/js/demo.js')
// Logout
script(src='/dist/js/auth/logout.js')

block scripts